<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-wrap justify-center gap-x-10 gap-y-4 opacity-80">
    <a href="#top" class="w-1/2 text-center md:w-auto">Inicio</a>
    <a href="#proyectos" class="w-1/2 text-center md:w-auto">Proyectos</a>
    <a href="#sobre-mi" class="w-1/2 text-center md:w-auto">Sobre mí</a>
    <a href="#contacto" class="w-1/2 text-center md:w-auto">Contacto</a>
  </nav>
</header>
